
@media screen and (max-width: 600px){


 h2,h1{
    color: ghostwhite;
 }
 h4{
    color: chocolate;
 }
 p{
   color: #FFF;
   border: 1px;
 }
 img{
   width: 400px;
   height: 250px;
   margin: 30px;
 }
 
 #header li {
    display: inline;
    list-style-type: none;
    margin: 0;
    width: 20%;
  }
  #header {
    background-color: #111;
    padding: 0;
  }
  #header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
  }
  button {
    margin-top: 30px;
  }
  .order{
    margin: 0;
    color: white;
  }
  .order1{
    margin-bottom: 30px;
  }
  #search{
   
    width: 100%;
   padding: 20px;
  }
  
  .dark-mode {
    background-color:black;
    color: white;
  }
  .body{
    background-color: darkgreen;
  }

  .blackBg {
    background-color: black;
  }
  .blackButton{
    background-color: black;
    color: white;
  }
  
  .whiteButton{
    background-color: white;
    color: black;
  }
  #dark{
    margin: 0px;
 
  }
}